.header {
    min-height: 50vh;
    background: linear-gradient(transparent ,transparent, #040F11),url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.note{
    width: 80%;
    margin: auto;
    color: #fff;
}

.note span{
    font-weight: 600;
}


.card a{
    margin-top: 17px;
}