@media (max-width: 775px) {
    .links {
        position: absolute;
        height: 100vh;
        width: 200px;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
        right: -300px;
        top: 0;
        transition: .5s;
        padding: 15px 20px;
    }

    .links * {
        display: block;
        background: none;
    }

    .links .link-eleman {
        margin-top: 10px;
    }

    nav .fa {
        display: block;
        color: #fff;
        font-size: 1.5em;
    }
    
    .fa-bars{
        margin-right: 10px;
    }

    .fa-xmark:hover{
        color: #b10000;
    }

    .activenav {
        right: -100px;
    }
}

@media (max-width:470px) {
    .header p{
        font-size: .8em;
    }
}